@import url("style/fonts.css");

:root {
  --primary-color: #333ac1;
  --warning-color: #dc2626;

  --font-family: "myriad";
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444df746 1px, #e5e5f7 1px);
  background-size: 20px 20px;
  font-family: var(--font-family);
  color: var(--primary-color);
}
/* helper class */
.Bold {
  font-weight: 900;
}

.div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  gap: 50px;
}
.titles-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-h2 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.header-text {
  font-size: 20px;
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
}

.text-guess2,
.text-guess3 {
  transition: all 150ms;
}
.text-guess3 {
  color: var(--warning-color);
}
.buttons-div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns {
  cursor: pointer;
  width: 250px;
  height: auto;
  padding: 15px 25px;
  margin: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  border: none;
  transition: all 150ms;
  border-radius: 5px;
  font-size: 20px;
  font-family: var(--font-family);
}

.btns:hover {
  background-color: var(--primary-color);
}

@media screen and (max-width: 762px) {
  .guesses {
    text-align: left;
    font-size: 20px;
  }
}
