:root {
  --primary-color: #fff;
  --warning-color: #be185d;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b1121;
  background-size: 20px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-color);
}
/* helper class */
.Bold {
  font-weight: 900;
}

.div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  gap: 50px;
}
.titles-holder {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.header-h2 {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.header-text {
  font-size: 20px;
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 21px;
}

.text-guess2,
.text-guess3 {
  transition: all 150ms ease-in-out;
}
.text-guess3 {
  color: var(--warning-color);
}
.buttons-div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#Yes,
#No,
#Lower,
#Higher,
#Again {
  display: none;
}
.btns {
  cursor: pointer;
  width: 280px;
  min-width: max-content;
  height: auto;
  padding: 15px 25px;
  margin: 10px;
  background-color: var(--primary-color);
  color: #0f172a;
  font-weight: 500;
  border: none;
  transition: all 150ms;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.btns:hover {
  background-color: var(--primary-color);
}
